{
  admin off
}

{$DOMAIN_NAME:localhost} {
  header -Server
  handle /bp* {
    reverse_proxy https://{$DECIDEM_NEXT_HOST} {
      header_up Host {$DECIDEM_NEXT_HOST}
    }
  }

  handle {
    reverse_proxy {$PROXY_ADDRESS}
  }
}
