// This is a file that can be overridden by the application in order to override
// some of the Foundation/Decidim SCSS settings and variables after the default
// settings have been loaded.
//
// To override styles use decidim_application.scss
//
// By default this is empty.
@use "sass:math";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,400;1,600&display=swap');

$ibm-plex-sans: 'IBM Plex Sans', sans-serif;

// Decidim overrides
$primary: #003995;
$secondary: #1A009C;

:root {
  /* Main blue */
  --primary: #{$primary};
  --primary-lightest: #0665FB;
  --primary-light: #004AC0;
  --primary-dark: #002E77;
  --primary-darkest: #002258;


  /* Secondary blue */
  --secondary: #{$secondary};
  --secondary-lightest: #3108FC;
  --secondary-light: #2100C6;
  --secondary-dark: #15007D;
  --secondary-darkest: #0F005C;

  /* Other */
  --dark-pmt: #111111;
  --grey-dark: #4B4B4B;
  --grey-medium: #a1a1a2;
  --grey-light: #c7c8ca;
  --white: #fff;

  /* Tertiary color -- yellow */
  --tertiary: #FCD34C;
  --tertiary-lightest: #FFCD00;
  --tertiary-light: #FFCD00;
  --tertiary-dark: #B49100;
  --tertiary-darkest: #846A00;

  /* Complementary -- orange */
  --complementary: #E18F00;
  --complementary-lightest: #FFA200;
  --complementary-light: #FFA200;
  --complementary-dark: #B47300;
  --complementary-darkest: #845400;
}

$anchor-color-hover: var(--white);
$background-color: var(--primary);
$body-font-family: $ibm-plex-sans;
$default-text-color: var(--grey-light);
$dropdown-menu-item-color-active: var(--white);
$header-font-family: $ibm-plex-sans;
$navbar-active-color: var(--white);
$navbar-color-hover: var(--white);
$placeholder-color: var(--grey-medium);
$text-color: var(--grey-light);
$titlebar-background: $background-color;
$titlebar-color: $text-color;

$spacers: (0.25rem, 0.5rem, 0.75rem, 1rem);
$font-sizes: (0.75rem, 1rem, 2.5rem, 4rem);
$line-heights: (1.2, 1.3, 1.5, 1.3, 1.3, 1.2);
$border-size: math.div(1rem, 16);
$default-border-color: var(--grey-light);

@mixin font-size($index) {
  font-size: nth($font-sizes, $index);
  line-height: nth($line-heights, $index);
}

@mixin border($color) {
  border: solid $border-size $color;
  border-radius: 0.25rem;
}

@function spacer($index) {
  @return nth($spacers, $index);
}
