// This is a file that can be overridden by the application in order to override
// some of the Foundation/Decidim SCSS settings and variables after the default
// settings have been loaded.
//
// To override styles use decidim_application.scss
//
// By default this is empty.

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

$open-sans: 'Open Sans', sans-serif;

$body-font-family: $open-sans;
$header-font-family: $open-sans;
