// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
// To override CSS variables or Foundation settings use _decidim-settings.scss
//
// By default this is empty.

* {
  font-family: $body-font-family;
  transition: 0.25s linear;
}

.home-section {
  background-color: $light-gray;

  .card-grid .card__link {
    font-weight: 700;
    letter-spacing: -0.5px;
  }
}

.navbar {
  background-color: var(--primary);
}

.title-bar {
  .topbar {
    &__notifications,
    &__conversations {
      text-decoration: none;

      & > .icon:hover {
        opacity: 1;
      }
    }
  }
}

.hero::after { content: none; }

.main-nav__link {
  a {
    box-shadow: none;
    color: var(--white);

    &:hover {
      background: var(--primary-lightest);
    }
  }

  &--active {
    background: var(--primary-light);
    font-weight: 600;
  }
}

.hero__container {
  .text-highlight.hero-heading {
    @include font-size(4);

    text-align: right;
    color: var(--primary);
    text-shadow: none;

    &::after {
      content: '';
      display: block;
      height: 4rem;
      width: 60%;
    }
  }

  div.row div.columns.small-centered.large-10 {
    width: 70%;
  }

  .row:nth-child(2) > div.columns.small-centered,
  .row:first-child > div.columns.small-centered {
    float: right;
  }
}


main {
  a:not(.button) {
    &:focus,
    &:hover {
      color: var(--primary);
    }
  }

  section.hero.home-section {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 35%;
    background-color: transparent;
  }
}

.topbar__search {
  .input-group {
    @include border($default-border-color);
    color: $text-color;

    #term,
    #submit {
      background: transparent;
      color: $text-color;
    }

    #term:focus {
      color: var(--white);

      &::placeholder {
        color: $placeholder-color;
      }
    }
  }
}

.heading3 { font-weight: 700; }

/* Footer */
.main-footer,
.mini-footer {
  background-color: var(--dark-pmt);
  color: $text-color;

  a {
    color: $text-color;

    &:hover {
      color: $white;
    }
  }
}

section.extended .home-section h2 {
  font-weight: 800;
}

.dropdown.menu .menu.is-dropdown-submenu li.is-submenu-item a,
.language-choose .menu.is-dropdown-submenu > li a {
  color: var(--primary);
}

/* Extra */

.card {
  &-grid {
    .card--mini {
      background: $background-color;
    }
  }

  &.card--mini {
    transition: 0.25s ease-in-out;

    &:hover {
      transform: translate3D(0, -5px, 0);
    }

    .card__content {
      color: var(--white);

      & > h3 {
        font-weight: bold;
      }

      a:not(.button),
      & > .card__link,
      & > .card__header > .card__link {
        color: var(--white);
      }
    }
  }

  &--process {
    &__row {
      & > .card--process__column:nth-child(2) {
        background-color: $background-color;
      }
    }

    .card--full__image {
      background-size: contain;
      right: 0;
    }
  }

  &__status {
    .card-data {
      &__item {
        .follow-button {
          & > .text-wrap {
            @include font-size(1);
            @include border(var(--primary));

            padding: spacer(1) spacer(2);
            margin-left: spacer(2);
            text-transform: none;

            &:hover {
              color: var(--white);
              background-color: $background-color;
            }
          }
        }
      }
    }
  }
}

.omnipresent-banner {
  @include font-size(1);

  background-color: var(--tertiary);
  padding: spacer(2);

  a { color: transparent }
  span { color: var(--primary) }

  .omnipresent-banner-title {
    margin-right: 0;
    pointer-events: none;
    cursor: default
  }

  &-short-description {
    @include border(var(--primary));
    @include font-size(1);

    padding: spacer(1) spacer(2);
    font-weight: bold;

    &:hover {
      border-color: var(--primary);
      background-color: $background-color;
      color: var(--white);
    }
  }
}

.button--sc {
  @include border(var(--white));

  text-transform: none;
}

.hide-for-medium {
  & > .navbar > .column {
    padding: 0;
  }
}

@media print, screen and (max-width: 40em) {
  .title-bar { border: none }

  .topbar {
    &__menu > [data-toggle] {
      margin: 0;
    }

    &__user__login a {
      color: var(--white);
    }

    &__edit__link {
      margin-left: spacer(2);
    }
  }
}

.card--process__column .button--sc span[aria-hidden=true],
.home-section .card-grid .card--mini .card__image-top,
.main-footer .column > nav > ul > li:nth-child(2),
#highlighted-assemblies .button--sc,
#participatory-space-filters,
#process-nav-content .process-nav__more,
#assemblies-chart {
  display: none
}

